#body {
    font-family: 'Indie Flower', cursive;
    background-image: url(img/borderlands_2.jpg);
    color: white
    background-position: center;
}

#l1 {
    color: white;
}

#l2 {
    color: white;
}

#l3 {
   color: white; 
}

#l4 {
   color: white; 
}

#l5 {
    color: white;
}

#l6 {
    color: white;
}

ul{
font-family: font-family: 'Oswald', sans-serif;    
}

