#body {
    font-family: 'Indie Flower', cursive;
    background-image: url(img/hexagon.jpg);
    color: white;
    background-size: cover;
}

#l1 {
    color: white;
}

#l2 {
    color: white;
}

#l3 {
   color: white; 
}

#l4 {
   color: white; 
}

#l5 {
    color: white;
}

#l6 {
    color: white;
}

ul{
font-family: font-family: 'Oswald', sans-serif;    
}

.yellow{
    color: red;
}

a:link{
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    width: 300px;
}

a:visited{
    color: white;
}

a:hover, a:active{
    background-color: white;
    color: black;
}

ul li:nth-child(odd){
    background-color: red;
    color: blue;
}

ul li:nth-child(even){
    background-color: blue;
    color: white;
}