#body {
    font-family: 'Indie Flower', cursive;
    background-color: lightgrey;
    color: darkgrey
}

#l1 {
    color: red;
}

#l2 {
    color: orange;
}

#l3 {
   color: yellow; 
}

#l4 {
   color: green; 
}

#l5 {
    color: blue;
}

#l6 {
    color: purple;
}

ul{
font-family: 'Lobster', cursive;    
}

